# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Career files\Degree Thesis\1. Coding general\GIT project\Audiovisual-event-detection-and-localization-techniques-in-sport-content\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
